html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

div {
  border: solid;
}

ul {
  list-style-type: none;
}



#headerBar {
  position: absolute;
  width: 100%;
  height: 20%;
  margin: 0px;
}

#casesDiv {
  position: absolute;
  top: 23%;
  width: 80%;
  height: 80%;
  margin-left: 3%;
}



.singleCase {
  position: relative;
	background: #cccccc;
  margin: 0px auto;
	padding: 0;
  width: 85%;
  height: 12%;
	text-align: center;
}

.singleCase p {
	position: absolute;
	top: 10d%;
	left: 0;
	margin: 0px;
	padding: 0;
	padding-left: 3%;
	height: 55%;
	width: 100%
	text-align: left;
	font-size: 1em;
}

.singleCase ul {
	position: absolute;
	top: 55%;
	left: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	margin: 0;

}

.singleCase ul li {
  display: inline;
	background: #292E37;
	float: left;
	margin: 0;
	padding: 0;
	height: 45%;
	width: 20%;
	font-size: 1em;

}
