html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

div {
  border: solid;
}

ul {
  list-style-type: none;
}

#headerBar {
  position: absolute;
  width: 100%;
  height: 100px;
	top: 0;
	left: 0;
  margin: 0px;
}

#casesDiv {
  position: absolute;
  top: 120px;
	left: 0;
  width: 80%;
	height: 0;
	border: none;
}

#buttonDiv {
	position: absolute;
	top: 23%;
	left: 82%;
	width: 20%;
	height: 80%;
	padding: 2%;
	text-align: left;
	border: none;
}

.singleCase {
  position: relative;
	background: #cccccc;
  margin: 0px auto;
	margin-top: 3px;
	padding: 0;
  width: 95%;
  height: 60px;
	text-align: center;
}

.singleCase p {
	position: absolute;
	top: 10%;
	left: 0;
	margin: 0px;
	padding: 0;
	padding-left: 3%;
	height: 55%;
	width: 100%
	text-align: left;
	font-size: 1em;
}

.singleCase ul {
	position: absolute;
	top: 55%;
	left: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	margin: 0;

}

.singleCase ul li {
  display: inline;
	background: #292E37;
	float: left;
	margin: 0;
	padding: 0;
	height: 45%;
	width: 20%;
	font-size: 1em;
}

#darkenPage {
	position: absolute;
	border: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: gray;
	opacity: .8;
	z-index: 3;
}

#dataEntry {
  position: relative;
	padding-left: 30px;
	padding-top: 20px;
  top: 5%;
  left: 5%;
  width: 90%;
	z-index: 4;
	background-color: white;
}

#dataEntryButtonDiv {
	position: absolute;
	float: right;
	bottom: 0;
	right: 0;
  width: 100%;
  height: 10%;
	border: 0;
	background-color: white;
	z-index: 5;
	text-align: right;
}

#saveButton {
	margin: 8px;
	margin-top: 15px;
}

#closeButton {
	margin: 8px;
	margin-top: 15px;
}
